.row {
	padding-bottom: 5%;
}

form.example button {
	float: left;
	background: transparent;
	color: #fff;
	font-size: 20px;
	border: none;
	border-left: none;
	cursor: pointer;
}

.example {
	float: right;
	margin-top: -5%;
}

.main-content {
	padding: 4%;
	background-image: url("../images/bg-image.png");
	background-repeat: no-repeat;
}

.inner-banner img {
	width: 50%;
	margin-top: 5%;
}
.remaining-time {
	margin-top: auto !important;
}
.prayer-time .carousel {
	padding: initial !important;
}

.outer-content {
	width: 50%;
	float: right;
	margin-right: -5%;
	margin-top: -29%;
	text-align: right;
}

.outer-content button {
	background: #d1a044;
	border: none;
	color: #fff;
	padding: 15px 40px 15px 40px;
	border-radius: 50px;
	font-weight: bold;
}

.outer-content h2 {
	background-image: url("../images/line.png");
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 13%;
}
.middle-block h2 {
	background-image: url("../images/line.png");
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 13%;
}
.quran-volume h1 {
	background-image: url("../images/line.png");
	background-position: center right;
	background-repeat: no-repeat;
	margin-right: 30%;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}

.content {
	text-align: center;
}

.main_heading {
	font-size: 60px;
	color: #fff;
	font-weight: bold;
}

.sub_heading {
	font-size: 40px;
	color: #d1a044;
	font-weight: bold;
}

.content button {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	font-weight: bold;
}

button,
input {
	outline: none;
}

.title {
	color: #d39e34;
	text-align: center;
	margin-bottom: 5%;
}

/*.mid-icon {
    background-color: #b18827;
    padding: 10px 50px 10px 50px;
    border-radius: 21px;
    border: 1px solid #b18827;
}*/
/*.mid-icon img{
    width: 50px;
    height: 50px;
}*/

.mid-icon-section {
	padding-bottom: 0;
}

.iconic-content p {
	text-align: center;
	font-weight: 900;
	font-family: cursive;
	color: #b18827;
}
.iconic-content {
	margin-bottom: 50px;
}

#search {
	text-align: right;
	padding-right: 10px;
}

.prayer-bg {
	background-image: url("../images/prayer-bg-1.png");
}

.prayer-image-section {
	padding: 2% 0 30% 5%;
}

.prayer-timings-heading {
	color: #b18827;
	font-weight: bold;
	font-size: 50px;
	font-style: unset;
}

.footer_banner {
	position: relative;
	text-align: right;
}

.footer_banner_content {
	position: absolute;
	bottom: 2%;
	font-size: 20px;
}

.footer_banner_content p a {
	color: #fff;
}

.footer_heading {
	color: #fff;
}

.footer_banner .col-sm-4 {
	font-size: 13px;
}

.col-sm-4 {
	font-size: 13px;
}

.example input {
	padding: 5px;
}

@media only screen and (max-width: 600px) {
	.col-xs-12 {
		position: inherit !important;
	}

	.col-xs-12 .title {
		font-size: 15px;
	}

	.col-xs-4 h4 {
		font-size: 13px;
	}
}

@media only screen and (max-width: 768px) {
	.example {
		margin-top: 0px;
	}

	.example input {
		padding: 5px;
	}

	.inner-banner {
		width: 100%;
	}

	.outer-content {
		width: 100%;
		text-align: right;
		margin: 0;
	}
}

/*start of audio styles*/
h3 {
	text-shadow: 1px 1px 1px #fff;
}
/* Start  styling the page */
.container-audio {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #eee;
	color: #444;
	margin: 20px auto;
	overflow: hidden;
	text-align: center;
}

audio {
	width: 100%;
}

audio:nth-child(2),
audio:nth-child(4),
audio:nth-child(6) {
	margin: 0;
}

.container-audio .colum1 {
	width: 23px;
	height: 5em;
	border-radius: 5px;
	margin: 0 10px 0 0;
	display: inline-block;
	position: relative;
}

.container-audio .colum1:last-child {
	margin: 0;
}

.container-audio .colum1 .row {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(to up, #7700aa, #8800ff);
	position: absolute;
	-webkit-animation: Rofa 10s infinite ease-in-out;
	animation: Rofa 10s infinite ease-in-out;
	bottom: 0;
}

.container-audio .colum1:nth-of-type(1) .row {
	-webkit-animation-delay: 3.99s;
	animation-delay: 3.99s;
}

.container-audio .colum1:nth-of-type(2) .row {
	-webkit-animation-delay: 3.8s;
	animation-delay: 3.8s;
}

.container-audio .colum1:nth-of-type(3) .row {
	-webkit-animation-delay: 3.7s;
	animation-delay: 3.7s;
}

.container-audio .colum1:nth-of-type(4) .row {
	-webkit-animation-delay: 3.6s;
	animation-delay: 3.6s;
}

.container-audio .colum1:nth-of-type(5) .row {
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.container-audio .colum1:nth-of-type(6) .row {
	-webkit-animation-delay: 3.4s;
	animation-delay: 3.4s;
}

.container-audio .colum1:nth-of-type(7) .row {
	-webkit-animation-delay: 3.3s;
	animation-delay: 3.3s;
}

.container-audio .colum1:nth-of-type(8) .row {
	-webkit-animation-delay: 3.2s;
	animation-delay: 3.2s;
}

.container-audio .colum1:nth-of-type(9) .row {
	-webkit-animation-delay: 3.1s;
	animation-delay: 3.1s;
}

.container-audio .colum1:nth-of-type(10) .row {
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(11) .row {
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(12) .row {
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(13) .row {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

.container-audio .colum1:nth-of-type(14) .row {
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}

.container-audio .colum1:nth-of-type(15) .row {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

.container-audio .colum1:nth-of-type(16) .row {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.container-audio .colum1:nth-of-type(17) .row {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

.container-audio .colum1:nth-of-type(18) .row {
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;
}

.container-audio .colum1:nth-of-type(19) .row {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}

.container-audio .colum1:nth-of-type(20) .row {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

@-webkit-keyframes Rofa {
	0% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: yellow;
	}

	5% {
		height: 100%;
		-webkit-transform: translatey(15px);
		transform: translatey(15px);
		background-color: fuchsia;
	}

	10% {
		height: 90%;
		transform: translatey(0);
		-webkit-transform: translatey(0);
		background-color: bisque;
	}

	15% {
		height: 80%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	20% {
		height: 70%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	25% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	30% {
		height: 70%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	35% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	40% {
		height: 60%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	45% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	50% {
		height: 50%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	55% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	60% {
		height: 40%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	65% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	70% {
		height: 30%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	75% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	80% {
		height: 20%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	85% {
		height: 0%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	90% {
		height: 10%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	95% {
		height: 5%;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}

	100% {
		height: 0;
		-webkit-transform: translatey(0);
		transform: translatey(0);
		background-color: cornflowerblue;
	}
}

.col-sm-9 .container-audio .colum1 {
	width: 15px;
}

.listen_icon {
	margin-top: 4%;
}
/*end of audio styles*/

.copy_right {
	background-color: #d19620;
	padding: 15px;
	text-align: center;
	color: #fff;
}

.circle {
	border: 1px solid #b18827;
	border-radius: 50%;
	font-size: 25px;
	color: #000;
	height: 80px;
	font-weight: bold;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle span {
	color: orange;
}

.remaining-time {
	display: flex;
	margin-top: 5%;
	justify-content: center;
	align-items: center;
}

.time-circle {
	padding: 0 5% 0 5%;
}

.prayer-timings-section .carousel-btns {
	margin-top: 50%;
}

.prayer-timings-section .carousel-btns .left,
.carousel-btns .right {
	color: #000;
}

.prayer-timings-section .carousel-inner {
	top: auto;
	bottom: 45px;
	border-top: 1px solid #b3acac;
	border-bottom: 1px solid #b3acac;
}

.prayer-timings-section .carousel-inner span {
	font-size: 20px;
	font-weight: bold;
}
.prayer-timings-section .carousel-inner .time {
	color: lightgreen;
}
.prayer-timings-section .carousel-inner .item h1 {
	color: #ff6347;
}

@media only screen and (max-width: 992px) {
	.prayer-timings-section .carousel-btns .left,
	.carousel-btns .right {
		background: no-repeat;
		color: #000;
		top: auto;
		bottom: 15%;
	}

	.prayer-timings-section .carousel-inner {
		top: auto;
		bottom: auto;
	}
}
